html
    head
        title= "Error"
        link(rel="stylesheet", href="/assets/style.css")
    body
        div.main
            div.error.block
                h2 Error
                p Something went wrong.
                if message
                    p #{message}
