html
    head
        title= "No Steam"
        link(rel="stylesheet", href="/assets/style.css")
    body
        div.main
            div.profile.block
                h2.profile-status You are logged in as:
                div.profile-data
                    img.profile-image(src=avatar)
                    div.profile-info
                        span.profile-name #{username}
                        span.profile-tag #{tag}
            div.error.block
                h2 Error
                p Your Discord is not connected to Steam.
                p To connect it, go to #[span.code User Settings => Connections] in Discord.
            div.info.block
                h3 If you are sure you've connected Steam to Discord, you are probably logged in to the wrong Discord account in this browser.
                p Follow the steps below:
                ol.steps
                    li Go to #[a(href="https://discordapp.com/activity" target="_blank") Discord Browser Version] and log in to the correct account.
                    li Go to #[a(href="http://autochessbot.vinthian.com" target="_blank") this page] and try again.
