html
    head
        title= "No Steam"
    body
        h1 You must link a steam account in discord before you can verify
        p Go to user-> settings -> connections to link a steam account
        h2 If you've already added connection, are you sure you're logged in to the right discord account?
        h2 You're currently logged in as #{username}
        img(src=avatar, height=64, width=64)
