html
    head
        title= "Success"
    body
        h1 You have successfully linked to steamID: #{steamID}
        h1 Don't forget to type !rank or !updateroles in #chessbot-commands to get access to lobbies based on your rank.